
.page-link
{
    background-color: #292b2c;
    color: #fff;
}
.page-link:hover
{
    background-color: #1e1e1e;
    color: #fff;
}

.card
{
    text-align: left;
}

.gauche
{
    text-align: left;
}

.pas-bord{
    border: none;
}