/*  Auteur       : De Sousa Kevin
    Nom          : MyMoviesList
    Date         : 14 Juin 2017
    Style personnelle
*/

.page-link
{
    background-color: #292b2c;
    color: #fff;
}
.page-link:hover
{
    background-color: #1e1e1e;
    color: #fff;
}

.card
{
    text-align: left;
}

.gauche
{
    text-align: left;
}

.pas-bord{
    border: none;
}

.alert
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0rem;
    margin-top: 4rem!important;
}

h1, .titre
{
    margin-top: 4rem!important;
}